extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Xuan Ngo

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I have a passion for web developement and programming with a background in business, digital marketing and ecommerce. I enjoy building things and learning new skills on my free time. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node JS
          li JavaScript
          li HTML
          li CSS 
          li jQuery
        h6 Contact Info

        ul
          li 555-555-1234
          li xuan.ngo10@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/xuan-ngo-351a77158/') LinkedIn
        a.button.expanded(href='https://github.com/xuanngo10') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  